body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    background: rgb(17, 14, 32);
    background-image: url('https://source.unsplash.com/random/1920x1080/?');
    

}

.card {
    background:#7c7c7c2b;
    color:black;
    padding: 2cm;
    border-radius: 10px;
    width: 100%;
    max-width: 420px;
    margin: 1cm;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;

}

.button {
    margin: 0.5cm;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #e2b4b42b;
    color: white;
    cursor: pointer;
    transition: 0.25 ease-in-out;

}

button:hover {
    background: #201a1a2b;
}

input.search.bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background-color: #7c7c7c2b;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    width:calc(100%-100px);

}

h1 {
    display: block;
    font-size: 1em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight:bolder;
}

h1.temp {
    margin: 0;
    margin-bottom: 0.4em;

}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}


.flex{
    display: flex;
    align-items:inherit;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading.after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top:0;
    left: 20px;

}